<form [formGroup]="registerForm" (ngSubmit)="saveRegisterDetails(registerForm)">
  <h2>Register</h2>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" formControlName="username" />
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" formControlName="email" />
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" formControlName="password" />
  <button type="submit" [disabled]="!registerForm.valid">Submit</button>
</form>
