<form [formGroup]="loginForm" (ngSubmit)="saveLoginDetails(loginForm)">
  <h2>Login</h2>
  <label for="username">Username:</label>
  <span *ngIf="username?.dirty && username?.touched && username?.invalid"
    >Please enter your username</span
  >
  <input type="text" id="username" name="username" formControlName="username" />
  <label for="password">Password:</label>
  <span *ngIf="password?.dirty && password?.invalid && password?.touched"
    >Please enter your password</span
  >
  <input
    type="password"
    id="password"
    name="password"
    formControlName="password"
  />
  <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  <h6>Don't have an account ? <a routerLink="/register">Create one</a></h6>
</form>
