<section class="welcome">
  <h1>Welcome LoggedInUser</h1>
  <p>
    Want to create a new contact
    <button class="btn btn-danger"><i class="fa-solid fa-plus"></i> New</button>
  </p>
  <p>Here are the list of contacts 📞</p>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let detail of details">
        <div class="card">
          <div class="card-body">
            <img
              src="../../../../assets/OSKHFO0.jpg"
              alt="Placeholder Image"
              class="rounded-circle float-left mr-3"
              width="150"
              height="150"
            />
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Name: {{ detail.name }}</li>
              <li class="list-group-item">Email: {{ detail.email }}</li>
              <li class="list-group-item">Mobile: {{ detail.mobile }}</li>
            </ul>
          </div>
          <div class="btn-card">
            <button class="btn btn-danger">
              <i class="fa-solid fa-trash-can"></i>
            </button>
            <button class="btn btn-warning">
              <i class="fa-solid fa-eye"></i>
            </button>
            <button class="btn btn-primary">
              <i class="fa-solid fa-pen"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
