/* Style the welcome section */
.welcome h1 {
  margin-left: 1rem;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.welcome p {
  margin-left: 1rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  max-width: 800px;
  line-height: 1.5;
}

/*======CARD======*/
.card {
    width: clamp(18rem, 50%, 300px);
    margin: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
  }
  
  .card::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    z-index: -1;
    background-image: linear-gradient(45deg, #007bff, #6c757d);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card-header {
    background-color: transparent;
    color: #333;
    font-weight: bold;
    position: relative;
    z-index: 1;
  }
  
  .list-group-item {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    font-weight: bold;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .list-group-item::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .list-group-item:hover {
    transform: scale(1.02);
  }
  
  .list-group-item:hover::before {
    opacity: 1;
  }
  
  @media (max-width: 576px) {
    .card {
      margin: 10px;
    }
  }

  .btn-card{
    .btn-warning, .btn-danger, .btn-primary{
        width: 3rem;
        height: 3rem;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }